* {
  box-sizing: border-box;
}

p {
  font-size: 15px;
  line-height: 29px;
  color: rgba(28, 54, 83, 0.6);
  padding-bottom: 20px;
}

h1 {
  font-size: 60px;
}

h2 {
  font-size: 40px;
  font-weight: 300;
  color: #3d4351;
}

h3 {
  font-size: 24px;
  margin-bottom: 20px;
  color: #3d4351;
}

.btn {
  font-size: 13px;
  border: solid 2px;
  border-radius: 40px;
  display: inline-block;
  text-transform: uppercase;
}

.btn:hover,
.btn:focus {
  color: #fff;
  border-color: #ff5274;
  background-color: #ff5274;
}

.btn-white {
  font-size: 13px;
  border: solid 2px;
  border-radius: 40px;
  display: inline-block;
  border-color: #fff;
}
.btn-fill {
  color: #fff;
  border: solid 2px #ff5274;
  border-radius: 40px;
  display: inline-block;
  text-transform: uppercase;
  background-color: #ff5274;
}

.btn-fill:hover,
.btn-fill:focus {
  color: #fff;
  background-color: #d7405d;
  border-color: #d7405d;
}

.btn-small {
  padding: 8px 40px;
}

.btn-large {
  padding: 15px 40px;
}

.btn-margin-right {
  margin-right: 20px;
}

.btn-white:hover,
.btn-white:focus {
  color: #ff5274;
  border-color: #ff5274;
}

/* Global Styles*/

a:hover,
a:focus {
  color: #d7405d;
  text-decoration: none;
}

body {
  font-family: "Open Sans", sans-serif;
  font-weight: 300;
  color: rgba(28, 54, 83, 0.6);
  -webkit-text-size-adjust: 100%;
}

ul,
ol {
  margin: 0;
  padding: 0;
}

ul li {
  list-style: none;
}

.section-padding {
  padding: 120px 0;
}

/*Navigation */
.header-nav.open {
  visibility: visible;
  opacity: 0.9;
  -webkit-transition: opacity 0.5s;
  transition: opacity 0.5s;
}

.nav-toggle {
  position: absolute;
  top: 0;
  right: 15px;
  z-index: 999999;
  padding: 10px 35px 16px 0;
  cursor: pointer;
}

.nav-toggle:focus {
  outline: none;
}

.nav-toggle span,
.nav-toggle span:before,
.nav-toggle span:after {
  content: "";
  position: absolute;
  display: block;
  width: 35px;
  height: 3px;
  border-radius: 1px;
  background: #fff;
  cursor: pointer;
}

.nav-toggle span:before {
  top: -10px;
}

.nav-toggle span:after {
  bottom: -10px;
}

.nav-toggle span,
.nav-toggle span:before,
.nav-toggle span:after {
  -webkit-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
}

.nav-toggle.active span {
  background-color: transparent;
}

.nav-toggle.active span:before,
.nav-toggle.active span:after {
  top: 0;
}

.nav-toggle.active span:before {
  -ms-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

.navicon {
  position: absolute;
  height: 26px;
  right: 10px;
  top: 48px;
  visibility: hidden;
  -webkit-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
}

/* hero*/
.hero {
  min-height: 750px;
  background: url("../img/t.jpg") center center;
  background-size: cover;
  position: relative;
}
.hero .down-arrow a {
  color: #fff;
}
.hero h1 {
  color: #fff;
  margin-bottom: 40px;
}
.hero p.intro {
  color: #fff;
  font-size: 20px;
  font-weight: 300;
  margin-bottom: 80px;
}
.hero .hero-content {
  padding-top: 26%;
}

.navigation {
  -webkit-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
  position: fixed;
  width: 100%;
  z-index: 999;
}

.fixed {
  position: fixed;
  background-color: #232731;
  z-index: 999;
  width: 100%;
}

.container-header {
  margin: 0 auto;
  padding: 0 15px;
  max-width: 100%;
}

header {
  padding: 30px 30px;
  height: 60px;
  width: 100%;
  background-color: rgba(34, 49, 52, 0.9);
  position: fixed;

  margin: 0 auto;
  -webkit-transition: padding 300ms ease-in-out;
  transition: padding 300ms ease-in-out;
}
.header-logo {
  font-size: 20px;
  color: #fff;
  float: left;
}

header a {
  color: #fff;
  text-transform: uppercase;
  font-size: 13px;
}
header a.login {
  margin-right: 20px;
}
header .logo {
  display: inline-block;
}
header ul.primary-nav {
  margin: 0 0 0 75px;
  padding: 0;
}
header ul.primary-nav li {
  display: inline;
}
header ul.primary-nav li a {
  color: #fff;
  padding-right: 25px;
}
header ul.primary-nav li a:hover {
  color: #ff5274;
}
header ul.primary-nav li:last-child a {
  padding-right: 0px;
}
header ul.member-actions li {
  display: inline;
}
header ul.member-actions li a {
  color: #fff;
}
header ul.member-actions li a:hover {
  color: #ff5274;
}
header .header-nav {
  display: inline-block;
}
header .member-actions {
  right: 0;
  float: right;
  -webkit-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
}

.down-arrow {
  color: #fff;
  font-size: 30px;
  position: absolute;
  bottom: 30px;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
}

element.style {
}
.lesson-wrapper {
  padding-bottom: 50px;
  padding-left: 5%;
  padding-right: 5%;
  background-color: #f7f7f7;
  text-align: center;
}

.container {
  max-width: 1170px;
  padding: 0 15px;
  margin: 0 auto;
}

.heading {
  padding-top: 80px;
  padding-bottom: 50px;
  color: #5f5d60;
}

.lesson {
  float: left;
  width: 25%;
}
